
body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.lotus {
    width: 45px; 
    height: 45px;
}

.topArea {
    background-color:#694F5D;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.header {
    background-color: #694F5D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%; 
    margin-right: 10%;
    padding: 5px;
}

.left_header {
    display: flex;
    gap: 10px;
    align-items: center;
}


ul {
    font-size: 18px;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a:link { 
    text-decoration: none;
    color: #FFE5D4;
}

.logo {
    color: #EFC7C2;
    font-size: 24px;
}

.intro {
    display: flex;
    gap: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 10%; 
    margin-right: 10%;
}

.introMainText {
    font-size: 48px;
    font-weight: bolder;
    color: #EFC7C2;
}

.introSecondText {
    margin-top: 0%;
    font-size: 18px;
    color: #FFE5D4;
}

.left_intro {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    flex-wrap: wrap;
}

.right_intro {
    display: flex;
    flex-direction: row;
    flex: 0 0 50%;
    align-items: flex-end;
    justify-content: flex-end;
    
}

.signupButton {
    background-color: #68A691;
    color: white;
    max-width: 100px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    text-align: center;
}

.infoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.randomInfo {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.infoPods {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.podImage {
    width: 200px;
    height: 300px;
    border: 3px solid #68A691;
    border-radius: 25px;
}

.statement {
    background-color: #EFC7C2;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    width:800px;
}

.author{
    font-size: 24px;
    font-weight: bolder;

}

.quoteContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.authorContainer{
    display: flex;
    justify-content: flex-end;
    padding-right: 25%;

}

.manoncouch {
    width: 100%;
    height: auto;
    max-width: none;
}

.signUp {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comboSignUp {
    width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
    background-color: #BFD3C1;
    border-radius: 10px;
}

.signupButton2 {
    background-color: #68A691;
    color: white;
    border: 1px solid white;
    width: 100px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.itsTime{
    font-weight: bold;
}

.footer{
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #694F5D;
    text-align: center;
}
